

/*重置样式*/

body,ul,p,h1,h2,h3,h4,h5,dl,dd,form,input,textarea,select{
    padding: 0;
    margin:0;
    font-family:Microsoft YaHei,微软雅黑;
}

li{ list-style: none;}
dd dt{display: inline-block;}
img{ border: none;}
a {text-decoration: none;}
a:hover{  text-decoration: underline;}
button,input{background: none;  border:none;outline: none;}

.clearBoth{
    clear:both;
}